<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Listagem de livros</h5>

          <div class="row">
            <div class="col-4">

              <div class="input-group">
                <input (keyup.enter)="findByTitulo()" [(ngModel)]="pesquisa" type="text" class="form-control" placeholder="Parte do título..."
                  aria-label="Recipient's username with two button addons" />
                <button (click)="findByTitulo()" class="btn btn-outline-primary" type="button" mdbRipple rippleColor="danger" >
                  Pesquisar
                </button>
                <button (click)="findAll()" class="btn btn-outline-primary" type="button" mdbRipple rippleColor="danger" >
                  Todos
                </button>
              </div>

            </div>
            <div class="col-8">

              <div class="alinharDireita">
                <a href="admin/livros/new" class="btn btn-primary">Novo</a>
              </div>
            </div>
          </div>
         

          <table class="table table-striped" border="1" width="400px">
            <thead>
              <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>-</th>
              </tr>
            </thead>
            <tbody>
              @for (livro of lista; track $index) {
              <tr>
                <td>{{ livro.titulo }}</td>
                <td class="alinharDireita">{{ livro.autor }}</td>

                <td class="alinharDireita">
                  <a
                    class="btn btn-primary"
                    href="admin/livros/edit/{{ livro.id }}"
                    >Editar</a
                  >
                  <a class="btn btn-danger" (click)="deleteById(livro)"
                    >Deletar</a
                  >
                </td>
              </tr>
              }
            </tbody>
          </table>

          <h5 class="card-title">Exibindo {{lista.length}} livros</h5>


        </div>
      </div>
    </div>
  </div>
</div>
