<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5>{{tituloComponente}}</h5>

          <form #formulario1="ngForm">
            <mdb-form-control>
              <input [(ngModel)]="livro.titulo" mdbInput pattern=".*\S+.*" required type="text" name="titulo" class="form-control" />
              <label mdbLabel class="form-label" for="titulo">Título:</label>
            </mdb-form-control>

            <br>
            
            Autores deste livro:

            <div class="alinharDireita">
              <a  class="btn btn-primary" (click)="abrirModal()">+</a>
            </div>
            <table class="table table-striped" border="1" width="400px">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>-</th>
                </tr>
              </thead>
              <tbody>
                @if(livro?.autores?.length == 0 || livro.autores == undefined){
                <div>
                  Não há autores associados
                </div>
              }
                @for (autor of livro.autores; track $index) {
                <tr>
                  <td>{{ autor.nome }}</td>
  
                  <td class="alinharDireita">
                    <a (click)="removerAutor(autor)" class="btn btn-danger" 
                      >Remover</a
                    >
                  </td>
                </tr>
                }
              </tbody>
            </table>


          @if(livro.id > 0){
            <button [disabled]="!formulario1.valid" (click)="update()" class="btn btn-primary">Atualizar</button>
          }@else{
            <button [disabled]="!formulario1.valid" (click)="save()" class="btn btn-primary">Salvar</button>
          }
           
            <a href="admin/livros" class="btn btn-default">Voltar</a>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalAutorList>

  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    
    <app-autores-list [modoAssociacao]="true" (retorno)="autorSelecionado($event)"></app-autores-list>

  </div>
</ng-template>