<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5>{{tituloComponente}}</h5>

          <form #formulario1="ngForm">
            <mdb-form-control>
              <input [(ngModel)]="livro.titulo" mdbInput required type="text" name="titulo" class="form-control" />
              <label mdbLabel class="form-label" for="titulo">Título:</label>
            </mdb-form-control>

            <br>

            <mdb-form-control>
              <input [(ngModel)]="livro.autor" mdbInput required type="text" name="autor" class="form-control" />
              <label mdbLabel class="form-label" for="autor">Autor:</label>
            </mdb-form-control>

            <br>

            <button [disabled]="!formulario1.valid" (click)="save()" class="btn btn-primary">Salvar</button>
            <a href="admin/livros" class="btn btn-default">Voltar</a>
          </form>

        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
